<div class="container-section">
    <h2 class="info-section">О нас</h2>
    <p>
        Магазин "Дом и Строй" — это ваш надежный партнер в мире строительных и отделочных материалов. Мы предлагаем широкий ассортимент продукции, которая поможет вам реализовать любой строительный проект, будь то ремонт квартиры или возведение нового дома. У нас вы найдете все необходимые товары для строительства, отделки, благоустройства и ремонта — от фундамента до крыши.
    </p>
</div>

    
    <div class="container-section scroll" id="services">
        <h2 class="info-sections">Наши услуги</h2>
        <div class="card-container">
            <div class="arrow left">&#10094;</div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="~/images/p1.jpg" alt="Card 1">

                    <h3>Продажа строительных материалов </h3>
                    <p>
                        Цемент, песок, щебень, строительные смеси
                        Керамическая и бетонная плитка
                        Краски, лаки, грунтовки, отделочные материалы
                        Обои, напольные покрытия, панели
                        Окна, двери, фурнитура
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/p2.png" alt="Card 2">

                    <h3>Консультации по выбору материалов</h3>
                    <p>
                        Помощь в подборе стройматериалов в зависимости от типа проекта
                        Рекомендации по выбору качественных и долговечных материалов
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/p3.jpg" alt="Card 3">

                    <h3>Доставка товаров</h3>
                    <p>
                        Организация доставки покупок на объект (в пределах города и региона)
                        Услуги по подъемному оборудованию для тяжелых и объемных товаров
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/p4.jpg" alt="Card 4">

                    <h3>Заказ строительных инструментов и оборудования</h3>
                    <p>
                        Прокат строительной техники (бетономешалки, перфораторы, генераторы и другие инструменты)
                        Продажа профессиональных и бытовых инструментов
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/p5.jpg" alt="Card 5">

                    <h3>Оформление индивидуальных заказов</h3>
                    <p>
                        Специальные заказы на нестандартные материалы
                        Прямые поставки от производителей по индивидуальным требованиям
                    </p>
                </div>
                <div class="card">
                    <img src="~/images/p6.jpg" alt="Card 6">

                    <h3>Профессиональные услуги</h3>
                    <p>
                        Помощь в расчетах и сметах
                        Составление технических заданий и подбор оптимальных решений для вашего проекта
                    </p>
                </div>
            </div>
            <div class="container-section scroll" id="contact">

                <h2 class="info-sections">Контакты</h2>
                <div class="container-row">
                    <div class="row-item">
                        <img class="item-img" src="~/images/icon-email.png" alt="" />
                        <h2>Email</h2>
                        <p>StroyRab@mail.ru</p>
                    </div>
                    <div class="row-item">
                        <img class="item-img" src="~/images/icon-phone.png" alt="" />
                        <h2>Телефон</h2>
                        <p>+7(952)812</p>
                    </div>
                    <div class="row-item">
                        <img class="item-img" src="~/images/icon-address.png" alt="" />
                        <h2>Адрес</h2>
                        <p>Тираспольский техникум услуг и материалов</p>
                    </div>
                </div>
            </div>

            <div class="container-section">
                <h2 class="info-sections">Haпиcaть сообщение</h2>
                <div class="block-message">
                    <p>
                        Вы можете написать нам на почту здесь
                    </p>
                        <div class="message-text">
                            <label>Cooбщение:</label>
                            <span></span>
                            <textarea class="text"></textarea>
                        </div>
                        <div class="message-button">
                            <button class="button" type="submit">Oтnpaвить</button>
                        </div>
                </div>
            </div>
            <div class="arrow right">&#10095;</div>
        </div>
        </div>
